/* @media screen and (min-width: 415px) {
  .component-container {
    width: 475px;
  }
}
@media screen and (min-width: 768px) {
  .component-container {
    width: 700px;
  }
} */

.circular-navigation-container {
  text-align: center;
}

.circular-navigation-container:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 100%;
}

.center-content {
  /* background-color: grey; */
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: inline-block;
  color: black;
  font-size: 2rem;
  padding-top: 25px;
}

.circular-navigation-container .icon-container a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  margin: -2em;
}

.icon-container.selected a span {
  font-weight: 900;
  background-color: yellow;
}

.icon-container:after {
  display: block;
  content: "";
  clear: both;
}

.icon-container img {
  display: block;
  width: 45px;
  margin-bottom: 5px;
}

.icon-container a span {
  text-align: center;
  font-size: .5rem;
  color: black;
}

.modal-btn {
  text-align: center;
  margin: 20px;
}

.deg0 {
  transform: translate(8em);
}

/* 12em = half the width of the wrapper */

.deg40 {
  transform: rotate(40deg) translate(8em) rotate(-40deg);
}

.deg80 {
  transform: rotate(80deg) translate(8em) rotate(-80deg);
}

.deg120 {
  transform: rotate(120deg) translate(8em) rotate(-120deg);
}

.deg160 {
  transform: rotate(160deg) translate(8em) rotate(-160deg);
}

.deg200 {
  transform: rotate(200deg) translate(8em) rotate(-200deg);
}

.deg240 {
  transform: rotate(240deg) translate(8em) rotate(-240deg);
}

.deg280 {
  transform: rotate(280deg) translate(8em) rotate(-280deg);
}

.deg320 {
  transform: rotate(320deg) translate(8em) rotate(-320deg);
}

.deg163 {
  transform: rotate(163deg) translate(8em) rotate(-163deg);
}

.deg330 {
  transform: rotate(330deg) translate(8em) rotate(-330deg);
}

@media screen and (min-width: 415px) {
  .icon-container img, .circular-navigation-container .icon-container a {
    width: 60px;
  }
  .deg0 {
    transform: translate(10em);
  }
  .deg40 {
    transform: rotate(40deg) translate(10em) rotate(-40deg);
  }
  .deg80 {
    transform: rotate(80deg) translate(10em) rotate(-80deg);
  }
  .deg120 {
    transform: rotate(120deg) translate(10em) rotate(-120deg);
  }
  .deg160 {
    transform: rotate(160deg) translate(10em) rotate(-160deg);
  }
  .deg200 {
    transform: rotate(200deg) translate(10em) rotate(-200deg);
  }
  .deg240 {
    transform: rotate(240deg) translate(10em) rotate(-240deg);
  }
  .deg280 {
    transform: rotate(280deg) translate(10em) rotate(-280deg);
  }
  .deg320 {
    transform: rotate(320deg) translate(10em) rotate(-320deg);
  }
  .deg163 {
    transform: rotate(163deg) translate(10em) rotate(-163deg);
  }
  .deg330 {
    transform: rotate(330deg) translate(10em) rotate(-330deg);
  }
}

@media screen and (min-width: 768px) {
  .icon-container a span {
    font-size: .75rem;
  }
  .icon-container img, .circular-navigation-container .icon-container a {
    width: 75px;
  }
  .deg0 {
    transform: translate(15em);
  }
  .deg40 {
    transform: rotate(40deg) translate(15em) rotate(-40deg);
  }
  .deg80 {
    transform: rotate(80deg) translate(15em) rotate(-80deg);
  }
  .deg120 {
    transform: rotate(120deg) translate(15em) rotate(-120deg);
  }
  .deg160 {
    transform: rotate(160deg) translate(15em) rotate(-160deg);
  }
  .deg200 {
    transform: rotate(200deg) translate(15em) rotate(-200deg);
  }
  .deg240 {
    transform: rotate(240deg) translate(15em) rotate(-240deg);
  }
  .deg280 {
    transform: rotate(280deg) translate(15em) rotate(-280deg);
  }
  .deg320 {
    transform: rotate(320deg) translate(15em) rotate(-320deg);
  }
  .deg163 {
    transform: rotate(163deg) translate(15em) rotate(-163deg);
  }
  .deg330 {
    transform: rotate(330deg) translate(15em) rotate(-330deg);
  }
}
